<!DOCTYPE html>
<html>
<head>
    <title>Ratings</title>
</head>
<body>
    {% for message in get_flashed_messages() %}
    <ul>
        <li>{{ message }}</li>
    </ul>
    {% endfor %}

    <a href="/">Ratings</a>
    <a href="/register">Create Account</a>

    {% if session.get('user_id') %}
        <a href="/logout">Log out 🔓</a>
    {% else %}
        <a href="/login">Log in 🔒</a>
    {% endif %}

    <hr> <!-- fancy break !-->

    {% block content %} CONTENT GOES HERE {% endblock %}

</body>
</html>