{% extends 'base.html' %}

{% block content %}

<h1>User Profile</h1>
User eMail = {{ user.email }}<br>
User Age = {{ user.age }}<br>
User Zip Code = {{ user.zipcode }}<br>
<h2>User Movie Ratings</h2>
    <table>
        <thead>
            <tr>
                <th>Movie Name</th>
                <th>Movie Rating</th>
            </tr>
        </thead>
        <tbody>
            {% for rating in user.ratings %}
            <tr>
                <td><a href="/movies/{{rating.movie.movie_id}}">
                    {{ rating.movie.movie_title }}
                </a></td>
                <td>{{ rating.score }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>




{% endblock %}