{% extends 'base.html' %}

{% block content %}

thing

User email = {{ user.email }}<br>
User ratings <ul>{% for rating in user.ratings %}
    <li> {{ rating.movie.movie_title }}</li>
    {% endfor %}
</ul>




{% endblock %}



user_id = db.Column(db.Integer, autoincrement=True, primary_key=True)
    email = db.Column(db.String(64), nullable=True)
    password = db.Column(db.String(64), nullable=True)
    age = db.Column(db.Integer, nullable=True)
    zipcode = db.Column(db.String(15), nullable=True)