{% extends 'base.html' %}

{% block content %}

<h1>User Profile</h1>
User eMail = {{ user.email }}<br>
User Age = {{ user.age }}<br>
User Zip Code = {{ user.zipcode }}<br>
<h2>User Movie Ratings</h2>
    <table>
        <thead>
            <tr>
                <th>Movie Name</th>
                <th>Movie Rating</th>
            </tr>
        </thead>
        <tbody>
            {% for rating in user.ratings %}
            <tr>
                <td>{{ rating.movie.movie_title }}</td>
                <td>{{ rating.score }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>




{% endblock %}



user_id = db.Column(db.Integer, autoincrement=True, primary_key=True)
    email = db.Column(db.String(64), nullable=True)
    password = db.Column(db.String(64), nullable=True)
    age = db.Column(db.Integer, nullable=True)
    zipcode = db.Column(db.String(15), nullable=True)